<!DOCTYPE html>
<html lang = "en">
   <head>
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
     <div class = "title">
       <h1>Bape</h1>
     </div>
      <table>

          <div class="row banner menu">
            <a href = '{ url_for('newCatalogItem') }'>
              Add a Category</a>
           <tbody>
             <h2>Categories</h2>
              {% for i in category %}
                 <tr>
                    <td>{{ i.name }}</td>
                    <td>{{i.id}}
                 </tr>
              {% endfor %}
           </tbody>

         </div>

      </table>

   </body>
</html>
